#users_table{
    background-color:#0088CC;
    margin: 30px
}

#items_table{
    background-color:#0088CC;
    margin: 30px
}

#participants_table{
    background-color:#0088CC;
    margin: 30px
}

#events_table{
    background-color:#0088CC;
    margin: 30px
}

#phones_table{
    background-color:#0088CC;
    margin: 30px
}

#products_table{
    background-color:#0088CC;
    margin: 30px
}