<!DOCTYPE html>
<html>

<%inherit file="base.htm" />
<%block name="content">
<body>

 <table class="table table-striped table-bordered">
     <tr>
         <th>Create, Read, Edit, or Delete for:</th>
     </tr>
     <tr>
        <td><a href="http://localhost:8000/homepage/users/">Users</a></td>
     </tr>
        <td><a href="http://localhost:8000/homepage/events/">Events</a></td>
     <tr>
        <td><a href="http://localhost:8000/homepage/items/">Items</a></td>
     </tr>
        <td><a href="http://localhost:8000/homepage/participants/">Participants</a></td>
     <tr>
         <td><a href="http://localhost:8000/homepage/phones/">Phone Numbers</a></td>
     </tr>
         <td><a href="http://localhost:8000/homepage/products/">Products</a></td>
 </table>



</%block>